/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.0_@opentelemetry+_f65b0a39e6bfaef5eef2cad5af992871/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/.pnpm/next@14.2.0_@opentelemetry+_f65b0a39e6bfaef5eef2cad5af992871/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/globals.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes etherMove {
  0% { transform: translate3d(-2%, 0, 0) scale(1); filter: saturate(100%); }
  50% { transform: translate3d(2%, -1%, 0) scale(1.05); filter: saturate(120%); }
  100% { transform: translate3d(-2%, 0, 0) scale(1); filter: saturate(100%); }
}

.animate-ether { animation: etherMove 14s ease-in-out infinite; }
